/* Apply to a specific class or element */
#tab {
    -fx-border-color: black; /* Border color */
    -fx-border-width: 2px;   /* Border width */
    -fx-border-style: solid; /* Border style */
}

/* Example: Apply to all nodes of a specific type, e.g., Button */
#loginbtn {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

/* Apply to the TableView */
.table-view {
    -fx-background-color: #f8e7ee;
    -fx-border-color: #850f36;
    -fx-border-radius: 8px;
    -fx-padding: 5px;
    -fx-table-cell-border-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

/* Column header styles */
.table-view .column-header-background {
    -fx-background-color: #850f36;
}

.table-view .column-header-background .label {
    -fx-text-fill: white; /* Changed to white for better contrast */
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-alignment: CENTER;
}

/* Table row alignment */
.table-cell {
    -fx-alignment: CENTER;
}

.table-row-cell:selected {
    -fx-background-color: #850f36;
    -fx-text-fill: white;
}

/* Default Button Style */
.button { /* Changed to a class selector for wider application */
    -fx-background-color: #850f36;
    -fx-text-fill: white;
    -fx-padding: 5 10 5 10;
    -fx-border-radius: 3px;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease;
    -fx-min-width: 50px;
    -fx-min-height: 20px;
}

/* Hover Effect */
.button:hover {
    -fx-background-color: #a3345b;  /* Slightly darker shade of the base color */
}

/* Pressed (Active) Effect */
.button:pressed {
    -fx-background-color: #660a27; /* Even darker shade */
}

/* Focused Button (Optional) */
.button:focused {
    -fx-border-color: #ffd700;
}

.error-border {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

/* Style for TextField */
.text-field {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #850f36;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

/* Style for PasswordField (inherits from text-field) */
.password-field {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #850f36;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

/* Style for MenuButton */
.menu-button {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #850f36;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}